# SPDX-License-Identifier: MIT
[Unit]
Description=Stumblefish Companions Service
BindsTo=harbour-stumblefishd.service
PartOf=harbour-stumblefishd.service
After=harbour-stumblefishd.service

PartOf=harbour-stumblecompanions.target

[Service]
Type=dbus
BusName=org.stumblefish.Companions
ExecStart=/usr/bin/harbour-stumblecompaniond
Restart=on-failure

Nice=15

ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=harbour-stumblefishd.service
