# SPDX-License-Identifier: MIT
[D-BUS Service]
Name=org.stumblefish.Companions
Exec=/usr/bin/harbour-stumblecompaniond
SystemdService=harbour-stumblecompaniond.service
