# SPDX-License-Identifier: MIT
[Unit]
Description=Stumblefish JollaPass Companion
BindsTo=harbour-stumblefishd.service
PartOf=harbour-stumblefishd.service
After=harbour-stumblefishd.service

PartOf=harbour-stumblecompanions.target

[Service]
Type=dbus
BusName=org.stumblefish.Companion.JollaPass
ExecStart=/usr/bin/harbour-passfishd
Restart=on-failure

Nice=15

ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=harbour-stumblefishd.service
WantedBy=harbour-stumblecompanions.target
