# SPDX-License-Identifier: MIT
[D-BUS Service]
Name=org.stumblefish.JollaPass
Exec=/usr/bin/harbour-jollapassd
SystemdService=harbour-jollapassd.service
