/.mb2/
/RPMS/
/documentation.list
/installroot/
/Makefile
/src/Makefile
/src/harbour-stumblefish
/src/*.o
/src/moc_*.cpp
/daemon/Makefile
/daemon/harbour-stumblefishd
/daemon/*.o
/daemon/moc_*.cpp
/tests/Makefile
/tests/tst_uploaduseragent
/tests/*.o
/tests/moc_*.cpp
/tests/*.moc
/tests/target_wrapper.sh
src/translations/*.qm
*.swp
