/.mb2/
/RPMS/
/documentation.list
/installroot/
/Makefile
/src/Makefile
/src/harbour-stumblefish
/src/*.o
/src/moc_*.cpp
/daemon/Makefile
/daemon/harbour-stumblefishd
/daemon/*.o
/daemon/moc_*.cpp
/companions/*/*.o
/companions/*/Makefile
/companions/*/daemon/*.o
/companions/*/daemon/Makefile
/companions/*/daemon/moc_*.cpp
/companions/*/moc_*.cpp
/companions/Makefile
/companions/glassfish/harbour-glassfishd
/companions/jollapass/harbour-passfishd
/companions/phonetrack/daemon/harbour-trackfishd
/companions/client/harbour-stumblefish-companion
/companions/phonetrack/qml/Makefile
/companions/client/qml/Makefile
/companions/client/app/Makefile
/companions/client/app/harbour-stumblefish-companion
/companions/client/app/*.o
/companions/client/app/moc*.cpp
/companions/client/plugin/Makefile
/companions/client/plugin/*.so
/companions/client/plugin/*.o
/tests/Makefile
/tests/tst_uploaduseragent
/tests/*.o
/tests/moc_*.cpp
/tests/*.moc
/tests/target_wrapper.sh
