/.mb2/
/RPMS/
/documentation.list
/installroot/
/Makefile
/src/Makefile
/src/harbour-stumblefish
/src/*.o
/src/moc_*.cpp
/daemon/Makefile
/daemon/harbour-stumblefishd
/daemon/*.o
/daemon/moc_*.cpp
/companions/*/*.o
/companions/*/Makefile
/companions/*/daemon/*.o
/companions/*/daemon/Makefile
/companions/*/daemon/moc_*.cpp
/companions/*/moc_*.cpp
/companions/Makefile
/companions/glassfish/harbour-glassfishd
/companions/jollapass/harbour-jollapassd
/companions/phonetrack/daemon/harbour-trackfishd
/companions/phonetrack/qml/Makefile
/tests/Makefile
/tests/tst_uploaduseragent
/tests/*.o
/tests/moc_*.cpp
/tests/*.moc
/tests/target_wrapper.sh
