# SPDX-License-Identifier: MIT
[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-stumblefish-companion
Exec=harbour-stumblefish-companion
Name=Companion

[X-Sailjail]
OrganizationName=org.stumblefish
ApplicationName=Stumblefish
DataDirectory=harbour-stumblefish
Permissions=Location;Internet;Bluetooth;Stumblefish
