# SPDX-License-Identifier: MIT
[D-BUS Service]
Name=org.stumblefish.Companion.Lookout
Exec=/usr/bin/harbour-glassfishd
SystemdService=harbour-glassfishd.service
