# SPDX-License-Identifier: MIT
[Unit]
Description=Stumblefish PhoneTrack Companion
BindsTo=harbour-stumblefishd.service
PartOf=harbour-stumblefishd.service
After=harbour-stumblefishd.service

PartOf=harbour-stumblecompanions.target

[Service]
Type=dbus
BusName=org.stumblefish.Companion.Tracker
ExecStart=/usr/libexec/harbour-trackfishd
Restart=on-failure
RestartSec=12s

Nice=15

ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=harbour-stumblefishd.service
WantedBy=harbour-stumblecompanions.target
