# SPDX-License-Identifier: MIT
[D-BUS Service]
Name=org.stumblefish.Companion.Tracker
Exec=/usr/bin/harbour-trackfishd
SystemdService=harbour-trackfishd.service
