[Unit]
Description=Stumblefish Companions
After=user-session.target
After=harbour-stumblefishd.target
Wants=harbour-stumblecompaniond.service
After=harbour-stumblecompaniond.service
DefaultDependencies=no
StopWhenUnneeded=true

[Install]
